.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  background-color: #eeeeee;
}

.loader {
  width: 150px;
  height: 150px;
}

.products-main-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeeeee;
}

.products-align {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: calc(16px + 70vw);
  width: 37.9vw;
  padding: 0 15px 0 15px;
  margin: 0 0 30px 0;
  text-decoration: none;
  align-items: center;
}

.product-img-container {
  height: 57.8vw;
  width: 37.9vw;
}

.product-img {
  height: 53.1vw;
  width: 37.9vw;
  transition: all 0.3s ease-in-out;
}

.product-img:hover {
  transform: scale(1.1);
}

.product-name,
.product-price {
  color: black;
  width: 100%;
}

.product-name {
  font-size: 15px;
  transition: 250ms ease-in-out;
}

.product-price {
  font-size: 16px;
  padding: 10px 0 0 0;
  transition: 250ms ease-in-out;
}

.search-container,
.sort-container {
  width: 87vw;
}

.sort-container {
  height: 100px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-content: left;
  height: 65px;
}

.sort-title {
  margin: 0 0 5px 0;
  font-size: 15px;
  font-weight: lighter;
}

.search-input,
.sort-select {
  border: 1px solid black;
  border-radius: 2px;
  background: transparent;
  height: 40px;
  outline: none;
}

.search-input {
  background: url("./search_icon.svg") no-repeat scroll 7px 7px;
  padding-left: 35px;
  width: 100%;
  align-self: center;
}

.sort-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 30px;
}

.sort-select {
  width: 100%;
  padding-left: 5px;
}

@media (min-width: 768px) {
  .search-container,
  .sort-container {
    width: 300px;
    height: 100px;
    margin: 0 15px 20px 15px;
  }
  .search-container {
    align-self: center;
    padding: 11px 0 19px 0;
  }
  .search-input {
    height: 38px;
  }
  .sort-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-wrapper {
    height: 553.6px;
    width: 291px;
  }
  .product-img-container {
    height: 443.9px;
    width: 291px;
  }

  .product-img {
    height: 407.8px;
    width: 291px;
  }
}

@media (min-width: 991px) {
  .products-list {
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 2% 0 0 0;
  }
  .search-container,
  .sort-container {
    width: 212.5px;
    height: 67px;
  }
  .search-container {
    padding: 11px 15px 19px 15px;
    margin: 0 18.67vw 0 0;
  }
  .search-input {
    height: 38px;
  }
  .sort-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px 0 15px;
    margin: 0 0 0 18.67vw;
  }
  .product-wrapper {
    height: calc(16px + 65vw);
    width: 40vw;
  }
  .product-img-container {
    height: 59vw;
    width: 40vw;
  }
  .product-img {
    height: 56.05vw;
    width: 40vw;
  }
  .product-name {
    font-size: 18px;
  }
  .product-price {
    font-size: 20px;
    padding: 12px 0 0 0;
  }
}
