.product-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeeeee;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 475px;
  width: 320px;
  margin: 20px 0 20px 0;
  text-decoration: none;
  align-items: center;
}

.product-img-container {
  /* width: 340px; */
  height: 405px;
}

.product-img {
  /* width: 340px; */
  height: 450px;
}

.product-name {
  font-size: 17px;
  letter-spacing: 1px;
  color: black;
}

.product-price {
  padding: 7px 0 0 0;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30px;
  width: 100vw;
  margin: 20px 10px 10px 20px;
}

.search-input {
  width: 55%;
  height: 29px;
  padding-left: 5px;
  margin: 0 1px 0 0;
  border: 0.5px solid black;
}

.search-button {
  height: 25px;
  font-size: 15px;
}

.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30px;
  width: 100vw;
  margin: 10px 10px 20px 20px;
}

.sort-select {
  width: 57.2%;
  height: 29px;
  padding-left: 5px;
  margin: 0 1px 0 0;
  border: 0.5px solid black;
}
