.product-main-container {
  width: 100%;
  height: 100%;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eeeeee;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 475px;
  width: 320px;
  margin: 20px 0 20px 0;
  text-decoration: none;
  align-items: center;
}

.product-img-container {
  /* width: 340px; */
  height: 405px;
}

.product-img {
  /* width: 340px; */
  height: 450px;
}

.product-name {
  font-size: 17px;
  letter-spacing: 1px;
  color: black;
}

.product-price {
  padding: 7px 0 0 0;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
