.loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100vw;
  background-color: #eeeeee;
}

.loader {
  width: 150px;
  height: 150px;
}
