.user-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.circle-paper,
.user-image {
  height: 80px;
  width: 80px;
}

.circle-paper {
  margin-top: 20px;
  align-items: center;
  display: block;
  overflow: hidden;
  border: 1px solid rgb(235, 235, 235);
}

.personal-container-name,
.personal-container-age {
  color: black;
}

.personal-container-name {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
  padding: 5px 0 0 0;
  margin: 10px 0 2.5px 0;
}

.personal-container-age {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 2.5px 0 20px 0;
  /* text-shadow: -0.7px -0.7px 0 #000, 0.7px -0.7px 0 #000, -0.7px 0.7px 0 #000,
    0.7px 0.7px 0 #000; */
}

.user-personal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 300px;
  border-radius: 2px;
  padding: 20px 0 0 0;
}

.user-location-top-wrapper,
.user-location-bottom-wrapper {
  display: flex;
}

.user-location-top-wrapper {
  padding-bottom: 5px;
  margin-top: 15px;
}

.user-location-bottom-wrapper {
  padding-top: 5px;
}

.location-icon {
  height: 23px;
  width: 23px;
  margin-right: 8vw;
  color: black;
}

.email-address-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.email-address-title {
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: lighter;
  color: #ff6d00;
}

.email-address-info {
  margin: 5px;
  font-size: 12px;
  color: black;
}

.user-button-edit-wrapper {
  display: flex;
  align-self: flex-end;
  margin-right: -5px;
}
