.user-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.circle-paper,
.user-image {
  height: 80px;
  width: 80px;
}

.circle-paper {
  margin-top: 20px;
  align-items: center;
  display: block;
  overflow: hidden;
  border: 1px solid rgb(235, 235, 235);
}

.personal-container-name {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
  padding: 5px 0 0 0;
  margin: 10px 0 2.5px 0;
}

.personal-container-age {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: white;
  margin: 2.5px 0 20px 0;
  text-shadow: -0.7px -0.7px 0 #000, 0.7px -0.7px 0 #000, -0.7px 0.7px 0 #000,
    0.7px 0.7px 0 #000;
}

.user-personal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 125px;
  width: 300px;
  border-radius: 2px;
  padding: 25px 0 25px 0;
}

.user-location-top-wrapper,
.user-location-bottom-wrapper {
  display: flex;
}

.user-location-top-wrapper {
  padding-bottom: 5px;
}

.user-location-bottom-wrapper {
  padding-top: 5px;
}

.location-icon {
  height: 23px;
  width: 23px;
  margin-right: 8vw;
  color: black;
}

.email-address-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.email-address-title {
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: lighter;
}

.email-address-info {
  margin: 5px;
  font-size: 12px;
}

/* .user-button-edit-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.user-button {
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
  padding: 1px;
  color: rgb(87, 87, 87);
  background: transparent;
  margin: 3px;
}

.edit-button {
  height: 18px;
  width: 18px;
}

.user-button:hover,
.user-button:focus {
  background: rgb(87, 87, 87);
  opacity: 0.4;
  color: rgb(235, 235, 235);
}

.user-button:focus {
  border: 1px solid rgb(235, 235, 235);
  outline: none;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 5px rgb(87, 87, 87);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 black;
  }
} */
