.detail-main-container {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.detail-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-img-container {
  height: 115vw;
  width: 85vw;
  text-align: center;
  margin: 10vw 7.5vw 10vw 7.5vw;
}

.detail-img {
  height: 100%;
  width: 100%;
  align-self: center;
}

.detail-description-container {
  width: 90%;
  height: 100%;
  padding: 0 5% 0 5%;
}

.company-name,
.detail-name {
  letter-spacing: 1px;
}

.company-name,
.flavor-select-title,
.flavor-select {
  color: #757575;
}

.company-name {
  font-size: 10px;
  font-weight: lighter;
}

.company-name > span,
.detail-name,
.detail-price {
  color: black;
}

.company-name > span,
.flavor-select-title {
  font-size: 13.5px;
}

.company-name > span {
  font-weight: bold;
  display: block;
}

.company-name > span:hover {
  color: black;
}

.company-name:hover {
  color: #757575;
}

.detail-name,
.detail-price {
  font-weight: 500;
}

.detail-options-container {
  height: 87px;
  width: 100%;
  margin: 10px 0 0 0;
}

.detail-name {
  font-size: 35px;
  margin: 20px 0 30px 0;
}

.detail-price,
.flavor-select-title,
.flavor-select,
.item-count {
  letter-spacing: 0.5px;
}

.detail-price {
  font-size: 24px;
  margin: 10px 0 30px 0;
}

.item-count {
  margin: 5px 0 0 0;
}

.flavor-container,
.detail-options-container {
  display: flex;
  flex-direction: column;
}

.flavor-container {
  height: 87px;
  width: 100%;
}

.item-count {
  font-size: 18px;
  height: 30px;
}

.quantity-select-wrapper {
  width: 150px;
  height: 50px;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
}

.subtract-button,
.add-button {
  width: 38px !important;
  height: 38px !important;
  cursor: pointer !important;
}

.subtract-button {
  color: #9e9e9e !important;
}

.add-button {
  color: #ff6d00 !important;
}

.quantity-val {
  height: 40px;
  width: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.flavor-select-wrapper {
  width: 99.5%;
  height: 40px;
  border: 1px solid #757575;
  border-radius: 2px;
  margin: 5px 0 15px 0;
}

.flavor-select,
.quantity-select {
  width: 98%;
  height: 100%;
  padding: 0 1% 0 1%;
  background-color: transparent;
  border: none;
  font-size: 15px;
  outline: none;
  color: #757575;
}

.add-cart-container {
  height: 40px;
  margin: 20px 0 40px 0;
}

.add-cart-button {
  width: 100% !important;
  background-color: #ff6d00 !important;
}

.icons-container {
  width: 100%;
  height: 125px;
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.icon-wrapper {
  height: 125px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.icon-name {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 10px 0 0 0;
  text-align: center;
}

.product-icon {
  height: 23.5vw;
  width: 23.5vw;
}

.review-card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.review-card {
  width: 100% !important;
  background-color: transparent !important;
}

.review-card-header {
  font-weight: bold !important;
  font-size: 15px !important;
  margin-top: -25px !important;
  width: 100% !important;
}

.review-card-text {
  width: 90% !important;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 86.5vw;
}

.review-title {
  font-size: 12px;
  color: black;
  font-weight: bolder;
  margin: 15px 0 2px 0;
}

.review-name,
.review-email,
.review-title-input {
  height: 30px;
  width: 85%;
  border: 1px solid #757575;
  padding: 0 0 0 5px;
  margin: 5px 0 5px 0;
  outline: none;
}

.rate-stars {
  display: flex;
  justify-content: center;
  width: 88%;
}

.review-description {
  height: 100px;
  width: 85%;
  padding: 5px 0 0 5px;
  border: 1px solid #757575;
  outline: none;
  margin: 0 0 15px 0;
}

.submit-review-button {
  width: 87.5% !important;
  margin: 10px 0 0 0 !important;
  background-color: #ff6d00 !important;
}

.detail-header {
  margin: 15px 0 15px 0;
  letter-spacing: 0.5px;
  font-size: 15px;
  width: 100%;
}

.detail-description {
  font-size: 15px;
  line-height: 20px;
  width: 85vw;
  letter-spacing: 0.5px;
  margin: 0 0 40px 0;
}

.detail-description:hover {
  color: black;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px 0 0 0;
  margin: 0 0 40px 0;
  border-top: 1px solid #ff6d00;
}

.reviewed-wrapper {
  width: 100%;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #ff6d00;
}

.reviewed-rating {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reviewed-title {
  padding: 10px 0 10px 0;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.reviewed-name {
  color: #424242;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 10px 0px;
}

.reviewed-description {
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 20px 0;
}

.reviewed-description:hover {
  color: black;
}

@media (min-width: 372px) {
  .card-container {
    width: 89vw;
  }
  .submit-review-button {
    width: 87% !important;
  }
}

@media (min-width: 413px) {
  .card-container {
    width: 91vw;
  }
  .submit-review-button {
    width: 86.75% !important;
  }
  .icon-name {
    font-size: 12px;
  }
  .icons-container {
    width: 100%;
    height: 150px;
  }
  .icon-wrapper {
    height: 150px;
  }
}

@media (min-width: 500px) {
  .card-container {
    width: 94vw;
  }
  .submit-review-button {
    width: 86.25% !important;
  }
  .icons-container {
    width: 100%;
    height: 175px;
  }
  .icon-wrapper {
    height: 175px;
  }
  .product-icon {
    width: 130px;
    height: 130px;
  }
  .icon-name {
    font-size: 15px;
  }
}

@media (min-width: 620px) {
  .card-container {
    width: 96.5vw;
  }
}

@media (min-width: 768px) {
  .card-container {
    width: 98.5vw;
  }
  .submit-review-button {
    width: 85.9% !important;
  }
}

@media (min-width: 991px) {
  .detail-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .detail-img-container {
    height: 100%;
    width: 44.61vw;
    margin: 0 0 0 0;
  }
  .detail-img {
    height: 61.76vw;
  }
  .detail-description-container {
    width: 44.61vw;
    padding: 10.68vw 15px 0 15px;
  }
  .flavor-quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .flavor-container {
    padding: 0 15px 0 0;
  }
  .detail-options-container {
    padding: 0 0 0 15px;
    margin: 0 0 0 0;
  }
  .flavor-select-wrapper,
  .quantity-select-wrapper {
    width: 20.4vw;
  }
  .add-cart-container {
    margin: 10px 0 40px 0;
  }
  .add-cart-button {
    width: 99% !important;
  }
  .review-card-text {
    width: 95% !important;
  }
  .card-container {
    align-items: center;
    width: 100%;
  }
  .review-title {
    align-self: left;
  }
  .review-name,
  .review-email,
  .review-title-input {
    width: 100%;
  }
  .rate-stars {
    width: 100%;
  }
  .review-description {
    width: 100%;
  }
  .submit-review-button {
    width: 101% !important;
  }
  .detail-description {
    width: 100%;
  }
}
