.detail-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.detail-img-container {
  height: 425px;
  width: 320px;
  text-align: center;
  margin: 0 0 75px 0;
}

.detail-img {
  height: 475px;
}

.detail-description-container {
  width: 320px;
  height: 100%;
  margin: 0 20px 0 20px;
}

.company-name,
.detail-name {
  letter-spacing: 1px;
}

.company-name,
.flavor-select-title,
.flavor-select {
  color: #757575;
}

.company-name {
  font-size: 10px;
  font-weight: lighter;
}

.company-name > span,
.detail-name,
.detail-price {
  color: black;
}

.company-name > span,
.flavor-select-title {
  font-size: 13.5px;
}

.company-name > span {
  font-weight: bold;
  display: block;
}

.detail-name,
.detail-price {
  font-weight: normal;
}

.detail-options-container {
  height: 175px;
  margin: 10px 0 0 0;
}

.detail-name,
.flavor-select-title {
  padding-left: 3px;
}

.detail-name {
  font-size: 35px;
  margin: 20px 0 20px 0;
  padding-left: 3px;
}

.detail-price,
.flavor-select-title,
.flavor-select,
.item-count {
  letter-spacing: 0.5px;
}

.detail-price {
  font-size: 22.5px;
  margin: 0 0 20px 0;
}

.flavor-select,
.item-count {
  margin: 5px 0 0 0;
}

.flavor-container,
.detail-options-container {
  display: flex;
  flex-direction: column;
}

.flavor-select,
.quantity-select {
  outline: none;
  font-size: 15px;
  padding: 0 0 0 15px;
  border: 1px solid #757575;
  color: #757575;
  border-radius: 2px;
  margin: 5px 0 15px 0;
}

.flavor-select {
  width: 87vw;
  height: 40px;
}

.quantity-select {
  width: 81.5vw;
  height: 37px;
  text-align: left;
  margin: 0 0 35px 0;
}
.item-count {
  font-size: 18px;
  height: 30px;
}

.detail-header {
  margin: 15px 0 15px 0;
  letter-spacing: 0.5px;
  font-size: 15px;
  width: 85vw;
}

.detail-description {
  font-size: 15px;
  line-height: 20px;
  width: 85vw;
  letter-spacing: 0.5px;
  margin: 0 0 40px 0;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.review-title {
  font-size: 12px;
  color: black;
  font-weight: bolder;
  margin: 15px 0 2px 0;
}

.review-name,
.review-email,
.review-title-input {
  height: 30px;
  width: 85%;
  border: 1px solid #757575;
  padding: 0 0 0 5px;
  margin: 5px 0 5px 0;
  outline: none;
}

.rate-stars {
  display: flex;
  justify-content: center;
  width: 88%;
}

.review-description {
  height: 100px;
  width: 85%;
  padding: 5px 0 0 5px;
  border: 1px solid #757575;
  outline: none;
  margin: 0 0 15px 0;
}
