.create-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
}

#create-title {
  width: 85%;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #ff6d00;
  margin: 25px 12.5% 0 12.5%;
  padding: 0 0 25px 0;
  text-align: center;
  color: #000000;
}

.buttons-container {
  margin: 20px 12.5% 20px 12.5%;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.create-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #000000;
  border: 1px solid #ff6d00;
  border-radius: 2px;
  background-color: transparent;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
  transition: 350ms ease-out;
  outline: none;
}

.create-button > span {
  font-weight: 100;
  font-size: 10px;
  letter-spacing: 0px;
}

.create-button:hover {
  cursor: pointer;
  color: #ff6d00;
  border: 1.5px solid #ff6d00;
  font-size: 18px;
  width: 175px;
  height: 100px;
  transition: 350ms ease-in;
  font-weight: bold;
}

.program-container {
  width: 85%;
  height: 250px;
  overflow: scroll;
  border-radius: 2px;
  border: 1px solid #ff6d00;
  margin: 5px 12.5% 25px 12.5%;
}

.ex {
  padding: 0.2em 0 0.2em 0.5em;
  color: #84caf9;
  list-style-type: none;
}

.days {
  color: #ccc;
  font-size: 30px;
  font-style: oblique;
  margin-top: 50px;
  text-transform: uppercase;
}

.ex-title {
  width: 33%;
  margin: 0px auto;
  padding-top: 15px;
  border-bottom: 1px solid #84caf9;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.ex-description {
  padding: 3px 150px 5px 150px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
