.menu-item-wrapper {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: lighter;
  color: black;
}
.menu-item {
  padding: 10px 0 0px -10px;
}

.menu-item-wrapper:focus {
  cursor: pointer;
}

.nav-cart {
  height: 23px;
  width: 23px;
  margin-top: 12.5px;
  margin-right: 15px;
}
