.footer-main-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.links-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 15px 15px 15px;
}

.links-header,
.links-body > p {
  font-weight: bolder;
  transition: 250ms ease-in-out;
}

.links-header {
  font-size: 12px;
  margin: 30px 0 15px 0;
  color: #ff6d00;
}

.links-body {
  text-decoration: none;
  line-height: 25px;
  font-size: 15px;
  letter-spacing: -1px;
  color: white;
}

p:hover {
  color: #ff6d00;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: white;
  margin: 0 13px 0 13px;
  font-size: 37.5px;
  transition: 250ms ease-in-out;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  color: #ff6d00;
  cursor: pointer;
}

.mailing-sub {
  size: 15px;
  text-align: center;
  width: 240px;
  line-height: 22px;
  color: white;
}

.mailing-input-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 7.5px;
}

.mailing-input {
  margin: 10px 0 10px 0;
  height: 40px;
  width: 180px;
  outline: none;
  border: 0.5px solid #ff6d00;
  border-radius: 2px;
  padding: 0 0 0 10px;
  color: white;
  background-color: transparent;
}

.disclaimer-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-company {
  font-size: 12px;
  color: white;
}

.footer-company:hover {
  color: white;
}

.footer-payments-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.fa-cc-amex,
.fa-cc-discover,
.fa-cc-mastercard,
.fa-cc-visa {
  color: white;
  margin: 10px 6px 10px 6px;
  font-size: 37.5px;
}

@media (min-width: 372px) {
  .links-sub {
    margin: 20px 21.25px 0 21.25px;
    height: 180px;
  }
  .footer-company {
    width: 210px;
    padding: 30px 0 0 0;
    text-align: center;
  }
}

@media (min-width: 413px) {
  .footer-company {
    padding: 15px 0 0 0;
    width: 300px;
  }
}

@media (min-width: 768px) {
  .links-container {
    width: 91%;
  }
  .links-sub {
    margin: 20px 0px 20px 0px;
    width: 225px;
  }
  .disclaimer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 96%;
  }
  .footer-payments-wrapper {
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .links-container {
    width: 100%;
  }
  .links-sub {
    height: 205px;
  }
  .disclaimer-container {
    width: 87%;
  }
}
