* {
  margin: 0px;
  padding: 0px;
}

/* .body-header {
  display: flex;
  justify-content: center;
  padding: 5px 0px 5px 0px;
  background-color: black;
}

.body-header-text {
  color: rgb(235, 235, 235);
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 1.5px;
  text-transform: uppercase;
} */
